#navbar_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d2c2ff;
  margin: 0px;
  padding: 0px;
}

#navbar_list li {
  padding: 5px;
  text-align: center;
  font-size: 16px;
}

#navbar_menu {
  justify-content: flex-end;
  margin-left: 200px;
}
.page_header {
  position: fixed;
  display: block;
}
.your-active-class {
  border: 5px solid #a382ff;
  background-color: #f1ecff;
}

.hidden {
  visibility: hidden;
}

/* for tablets */
@media (min-width: 750px) and (max-width: 1030px) {
  body {
    font-size: 35px;
  }

  #navbar_list li {
    font-size: 35px;
  }
  #navbar_menu {
    margin-left: 500px;
  }
}

/* for desktops */
@media (min-width: 1050px) {
  #navbar_list {
    flex-direction: row;
  }

  #navbar_list li {
    font-size: 50px;
    padding: 10px;
  }

  #navbar_menu {
    margin-left: 550px;
  }

  body {
    font-size: 40px;
  }
}
