#navbar_list {
  position: fixed;
  top: 20px;
  font-size: 40px;
  background-color: #d2c2ff;
  margin-left: 50px;
}

.your-active-class {
  border: 5px solid #a382ff;
  background-color: #f1ecff;
}

.hidden {
  visibility: hidden;
}

@media (min-width: 750px) {
  body {
    font-size: 35px;
  }

  #navbar_list {
    margin-left: 250px;
    font-size: 60px;
  }
}
